section.menu{
    padding: 11px;
    margin-bottom: 10px;
    color:var(--cor-de-fundo);
    background-color: var(--cor-de-fundo);
    text-decoration: none;
    transition: .5s;
    display: block;
    font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
 color:var(--cor-do-menu);

flex: none;
order: 0;
flex-grow: 0;

}
.all .menu{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.menu.title{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 134px;
height: 24px;

position: absolute;
left: 4.17%;
right: 29.17%;
top: 16.67%;
bottom: 16.67%;



}
.menu__list{
flex-direction: row;
padding: 0px;
gap: 32px;

width: 600px;
height: 19px;

}
/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/
    .menu {
        padding: 2rem 8.375rem;
    }

    .menu__list {
        align-items: center;
        display: flex;
        gap: 2rem;
    }

}